* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* START HEADER Style */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #daac00;
    height: 120px;
}

/* HEADER LOGO Style */

header > img {
    width: 212px;
    height: 56px;
}

/* HEADER MENU Style */

header > ul {
    display: flex;
    list-style-type: none;
}

header > ul > a {
    text-decoration: none;
}

header > ul > a > li {
    margin: 0 1em;
    font-size: 29px;
    color: aliceblue;
}

header > ul > a > li:hover {
    opacity: 0.8;
    transition: 500ms;
    cursor: pointer;
}

/* SEARCH DIV Style */

header > div {
    display: flex;
    height: 51px;
    filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.185));
}

header > div > input {
    font-size: 16px;
    color: #ffffff;
    background-color: #fcc302;
    border: none;
}

header > div > input::placeholder {
    font-size: 21px;
    color: #ffffff;
}

header > div > div {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 70px;
    background-color: #00bec9;
}

header > div > div > img {
    width: 22px;
    height: 22px;
}

/* END HEADER Style */

/* START MAIN Style */

/* PRIMEIRA SECTION Style */
.primeira {
    display: flex;
    align-items: center;
    background-color: #fcc302;
    padding: 0 8em;
    height: 778px;
}

.primeira > div > h1 {
    font-size: 67px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 0.4em;
}

.primeira > div > p {
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1em;
}

#contact {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: #00bec9;
    border: none;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
    margin-right: 1em;
}

#contact:hover {
    background-color: #fff;
    color: #00bec9;
    transition: 500ms;
    cursor: pointer;
}

#service {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: transparent;
    border: 3px solid #ffffff;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
}

#service:hover {
    background-color: #fff;
    color: #daac00;
    transition: 500ms;
    
}

.primeira > div > img {
    width: 419px;
    height: 604px;
    margin-left: 4em;
    transform: scaleX(-1);
}

/* SEGUNDA SECTION Style */
.segunda {
    display: flex;
    align-items: center;
    padding: 0 8em;
    height: 778px;
}

.segunda > div > h1{
    font-size: 50px;
    color: #313243;
    font-weight: 600;
    margin-bottom: 1em;
}

.segunda > div > p {
    font-size: 29px;
    letter-spacing: 0px;
    color: #313243;
    font-weight: 400;
    margin-bottom: 1em;
}

.segunda > div > a > button {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: #fcc302;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

.segunda > div > a > button:hover {
    background-color: transparent;
    border: #fcc302 2px solid;
    color: #fcc302;
    transition: 700ms;
}

.segunda > div > img {
    margin-left: 3em;
    width: 506px;
    height: 480px;
    box-shadow: -40px 40px 0px #fcc302;
}

/* TERCEIRA SECTION Style */

.terceira {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1017px;
    background-color: #fcc302;
}

.infos {
    text-align: center;
}

.infos > h1 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.infos > p {
    font-size: 33px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.imgs-infos-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 4em;
}

.imgs-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgs-infos > img {
    margin: 2em 0;
    width: 342px;
    height: 353px;
}

.imgs-infos > h1 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
}

.imgs-infos > p {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 2em;
}

/* QUARTA SECTION Style */

.quarta {
    display: flex;
    align-items: center;
    padding: 0 8em;
    height: 778px;
}

.quarta > div > img {
    margin-right: 3em;
    width: 506px;
    height: 480px;
    box-shadow: 40px 40px 0px #fcc302;
}

.quarta > div > h1{
    font-size: 50px;
    color: #313243;
    font-weight: 600;
    margin-bottom: 1em;
}

.quarta > div > p {
    font-size: 29px;
    letter-spacing: 0px;
    color: #313243;
    font-weight: 400;
    margin-bottom: 1em;
}

.quarta > div > a > button {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: #fcc302;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

.quarta > div > a > button:hover {
    background-color: transparent;
    border: #fcc302 2px solid;
    color: #fcc302;
    transition: 700ms;
}

.quarta-div-esquerda {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;

}

/* QUINTA SECTION Style */

.quinta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1017px;
    background-color: #fcc302;
}

.quinta > .imgs-infos-container > .imgs-infos > div {
    display: flex;
}

.quinta > .imgs-infos-container > .imgs-infos > div > h1{
    font-size: 42px;
    color: #ffffff;
    font-weight: 600;
    margin: 0 10px;
}

.btn-buy {
    width: 199px;
    height: 60px;
    border-radius: 30px;
    background-color: #00bec9;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border: none;
    margin-top: 1em;
}

.btn-buy:hover {
    background-color: #fff;
    color: #00bec9;
    transition: 500ms;
}

/* SEXTA SECTION Style */

.sexta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1070px;
}

.funcionarios-container {
    display: flex;
    justify-content: space-evenly;
}

.funcionarios {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.funcionarios > img {
    width: 361px;
    height: 351px;
    margin-bottom: 2em;
}

.funcionarios > h1 {
    font-size: 29px;
    color: #313243;
    font-weight: 700;
}

.funcionarios > h2 {
    font-size: 25px;
    color: #313243;
    font-weight: 400;
}

.funcionarios > div {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.funcionarios > div > a > img {
    width: 35px;
    height: 35px;
    background-color: #fcc302;
    border-radius: 50%;
    margin: 0 6px;
}

.funcionarios > div > a > img:hover {
    opacity: 0.5;
    transition: 500ms;
}

/* SETIMA SECTION Style */

.setima {

    background-image: url(assets/imgs/backsection7.png);
}

.back-setima {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 575px;
    background-color: rgba(252,195,2,0.8392156862745098);
}

.setima-div > img{

}

.setima-div > h2 {
    font-size: 42px;
    color: #ffffff;
    font-weight: 500;
}

.setima-div > h1 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 700;
}

/* OITAVA SECTION Style */

.oitava {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1175px;
}

.veterinarios {
    width: 361px;
    height: 628px;
    background-color: #ffffff;
    box-shadow: 6px 10.595px 25.5px rgba(61, 61, 61, 0.1);

}

.veterinarios:hover {
    box-shadow: 8px 8px 20px rgba(61, 61, 61, 0.158);
    transition: 700ms;
}

.veterinarios > img {
    width: 361px;
    height: 351px;
}

.veterinarios > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    padding: 0 13px;
    
}

.veterinarios > div > h1 {
    font-size: 25px;
    color: #313243;
    font-weight: 600;
}

.veterinarios > div > p { 
    font-size: 17px;
    color: #313243;
    font-weight: 400;
}

.veterinarios > div > h2 {
    font-size: 21px;
    color: #00bec9;
    font-weight: 500;
}


/* END MAIN Style */

/* START FOOTER Style */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 654px;
    background-color: #343434;
}

footer > div > ul > h1{
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
}

footer > div > ul > a {
    text-decoration: none;
}

footer > div > ul > a > li{
    list-style-type: none;
    font-size: 25px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400;
}

footer > div > ul > a > li:hover {
    opacity: 0.7;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 500ms;
}

footer > div > h1 {
    font-size: 38px;
    line-height: 8px;
    color: #ffffff;
    font-weight: 600;
    text-align: right;
    margin-bottom: 1em;
}

footer > div > p {
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    text-align: right;
}

.footer-div { 
    display: flex;
    width: 530px;
    height: 90px;
    margin: 3.5em 0;
}

.footer-div > div {
    background-color: #daac00;
    width: 75%;
    height: 90px;
}

.footer-div > button {
    border: none;
    background-color: #00bec9;
    width: 25%;
    height: 90px;
}

.footer-div > button > img {

    justify-content: center;
    width: 50px;
    height: auto;
}

.redes {
    display: flex;
    justify-content: flex-end;
}

.redes > a > img {
    width: 44px;
    height: 44px;
    margin: 0 10px;
}

.redes > a > img:hover {
    opacity: 0.6;
    transition: 500ms;
}
/* END FOOTER Style */
