* {
    padding: 0;
    margin: 0;

}

.btn {
    background-color: #e9c91c;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    margin-top: 2em;
    border: none;
    font-size: 14px;
}

.btn:hover {
    background-color: rgb(32, 32, 32);
    color: #e9c91c;
    transition: 500ms;
    cursor: pointer;
}

/*HEADER style*/

header {
    display: flex;
    justify-content: center;
    background-color: #e9c91c;
    height: 78px;
}

header > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > li > a {
    text-decoration: none;
    margin: 0 14px;
}

header > li > a > ul {
    font: bold 15px arial, arial, helvetica;
    color: black;
}

header > li > a > ul:hover {
    color: rgb(255, 255, 255);
    transition: 300ms;
}

/*MAIN style*/

/*PRIMEIRA SECTION style*/

.primeira {
    display: flex;
    background-color: white;
    height: 90vh;
}

.primeira > div {
    margin: 4em;
}

.primeira > div > h3,h1,p {
    font-family: Arial, Helvetica, sans-serif;
}

.primeira > div > h3 {
    font-size: 13px;
}

.primeira > div > h1 {
    font-size: 72px;
}

.primeira > div > p {
    font-size: 13px;
    margin-top: 2em;
}

.primeira > div > img {
    width: 648px;
    height: auto;
}

/*SEGUNDA SECTION style*/

.segunda {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: auto;
    background-color: black;
    padding: 4em 0;
}

.segunda > div > h1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    color: #e9c91c;
    font-size: 72px;

}

.segunda-img-infos {
    display: flex;
    justify-content: space-around;

}

.segunda-img-infos > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/*TERCEIRA SECTION style*/

.terceira {
    display: flex;
    height: 100vh;
    
}

.terceira > div { 
    display: flex;
    background-color: rgb(216, 216, 216);
    box-shadow: 10px 10px 10px #00000018;
    margin: 3em;
}

.terceira > div > div > h1 {
    color: #e9c91c;
    font-size: 62px;
}

/*FOOTER style*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    background-color: black;
    padding: 1em 2em;
}

footer > div {
    display: flex;
}

footer > div > li {
    margin: 10px;
}

footer > div > li > ul {
    color: white;
}

footer > h4 {
    color:#e9c91c;
}

@media only screen and (max-width: 1300px) {
    
    .terceira > div { 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .terceira > div > div {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 1080px) {
    .primeira {
        flex-direction: column;
        height: auto;
    }


}

@media only screen and (max-width: 930px) {
    .primeira {
        align-items: center;
    }

    .primeira > div {
        margin: 10px 0;
    }

    .segunda-img-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .segunda-img-infos > div > img {
        width: 200px;
        height: auto;
        margin: 1em;
    }

    .terceira > div { 
        margin: 0;
    }
}